/*===== FOOTER ======*/
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #f3f3f3;
}
.container-footer {
  width: 100%;
  display: grid;
  grid-template-rows: 200px auto 200px 200px;
  gap: 20px;
}

.container-footer .section-aboutus h2 {
  position: relative;
  color: #1e1e1e;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.container-footer .section-aboutus p {
  color: #1e1e1e;
}
.sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 10px;
}
.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #1e1e1e;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background-color: #69737c;
}
.sci li a .fa {
  color: #fff;
  font-size: 1em;
}
.section-quicklinks {
  position: relative;
  margin-bottom: 10px;
}
.section-quicklinks h2 {
  font-size: 1.5em;
}
.section-quicklinks li {
  list-style: none;
}
.section-quicklinks li a {
  color: #1e1e1e;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
}
.section-quicklinks li a:hover {
  color: #69737c;
}
.seccion-contacto h2 {
  font-size: 1.5em;
}
.info li {
  display: grid;
  grid-template-columns: 20px 1fr;
  margin-bottom: 5px;
}
.info a {
  text-decoration: none;
  color: #1e1e1e;
}
.info a:hover {
  color: #69737c;
}
.copyrightText {
  width: 100%;
  background-color: #1e1e1e;
  padding: 8px 50px;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
}
